---
Type: Brevet

---
 


/* -------------------------------------------*/
/* Resset de tout les styles -----------------*/
/*--------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* fin du resset*/








/* ---------- Présentation type page a4 -------------------------------*/
body{
    line-height: 1;
    background-color: rgba(179, 179, 179, 0.2);
}

.page{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 10px;
    width: 21cm;
    height:  29.7cm;
    display: flex;
    flex-direction: column;
}

.zonetexte{
    width: calc(21cm - 3.5cm);
    height: calc(29.7cm - 3cm);
    margin: auto;
}

.refgrille{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}






/* ---------- Textes ----------------------------------------------*/
/*Basé sur la présentation du cours*/

/* Les titres */
h1, h2, h3, h4, h5 {
    font-family: 'Open sans Extrabold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}


h1{
    font-size: 22pt;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2{

    font-size: 16pt;
    margin-bottom: 15px;
}

h3{
    font-size: 12pt;
    margin-bottom: 15px;
}


h4{
    font-size: 11pt;
    color:rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
}

h5{
    font-size: 10pt;
    color:rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

h6{
    font-family: 'Open sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 8px;
}


a{
    text-decoration: none;
    font-weight: lighter;
}

.légende{
    color: rgba(0, 0, 0, 0.7);
    font-size: 7pt;
    margin-top: 1em;
    float:right;
}



/* Modification : Gras et italiques */
strong{
    font-weight: bold;
}

em{
    font-style: italic;
}



/* Listes */
ul, ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    margin-left: 40px;
    margin-bottom: 7px;
}

ul {
    list-style: circle outside;   
}

#ul_choix_nombre>li{
    list-style: none;
	background-image: url('/media/cercle_numbre.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
    margin: 0;
	padding: 10px 0 10px 32px;
}


/* ---------- Figures -------------------------------------------*/
img{
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-top: 1.5px;
    margin-bottom: 7px;
}

figure img {
    display: block;
    margin:auto;
}

/* faire deux classe différente pour les titre "sans" et pour les sources,auteur "avec + italique+ plus petit"*/
figcaption {
    color: rgba(0, 0, 0, 0.7);
    font-size: 7pt;
    font-weight: lighter;
    max-width: 100%;
    margin: 3px 0px;
}

figcaption a {
    color:  rgba(0, 0, 0, 0.513);
}


/* ---------- lignes de saisie -------------------------------------------*/
.lsaisi {
    background-image: url('/media/ligne_saisie.svg');
	background-repeat: repeat-x;
	background-position: left bottom;
    margin: 0;
	padding:20px 10px 0 10px;
}


/* ---------- Dimensions ----------------------------------------------*/
/* Pour les éléments dans un display grid*/
/* Dimension et possition dans une grille 12 colonnes*/


/* ---------- Dimensions ----------------------------------------------*/
/* Pour les éléments dans un display grid*/
/* Dimension et possition dans une grille 12 colonnes*/

.p1s2,.gauches2{
    grid-column:1/span 2;
}

.p1s3,.gauches3{
    grid-column:1/span 3;
}

.p1s4,.gauches4{
    grid-column:1/span 4;
}

.p1s5,.gauches5{
    grid-column:1/span 5;
}

.p1s6,.gauches6{
    grid-column:1/span 6;
}

.p1s7,.gauches7{
    grid-column:1/span 7;
}

.p1s8,.gauches8{
    grid-column:1/span 8;
}

.p1s9,.gauches9{
    grid-column:1/span 9;
}

.p1s10,.gauches10{
    grid-column:1/span 10;
}

.p1s11,.gauches11{
    grid-column:1/span 11;
}

.p1s12{
    grid-column:1/span 12;
}






.p2s2{
    grid-column:2/span 2;
}

.p2s3{
    grid-column:2/span 3;
}

.p2s4{
    grid-column:2/span 4;
}

.p2s5{
    grid-column:2/span 5;
}

.p2s6{
    grid-column:2/span 6;
}

.p2s7{
    grid-column:2/span 7;
}

.p2s8{
    grid-column:2/span 8;
}

.p2s9{
    grid-column:2/span 9;
}

.p2s10{
    grid-column:2/span 10;
}

.p2s11{
    grid-column:2/span 11;
}




.p3s2{
    grid-column:3/span 2;
}

.p3s3{
    grid-column:3/span 3;
}

.p3s4{
    grid-column:3/span 4;
}

.p3s5{
    grid-column:3/span 5;
}

.p3s6{
    grid-column:3/span 6;
}

.p3s7{
    grid-column:3/span 7;
}

.p3s8{
    grid-column:3/span 8;
}

.p3s9{
    grid-column:3/span 9;
}

.p3s10{
    grid-column:3/span 10;
}




.p4s2{
    grid-column:4/span 2;
}

.p4s3{
    grid-column:4/span 3;
}

.p4s4{
    grid-column:4/span 4;
}

.p4s5{
    grid-column:4/span 5;
}

.p4s6{
    grid-column:4/span 6;
}

.p4s7{
    grid-column:4/span 7;
}

.p4s8{
    grid-column:4/span 8;
}

.p4s9{
    grid-column:4/span 9;
}









.p5s2{
    grid-column:5/span 2;
}

.p5s3{
    grid-column:5/span 3;
}

.p5s4{
    grid-column:5/span 4;
}

.p5s5{
    grid-column:5/span 5;
}

.p5s6{
    grid-column:5/span 6;
}

.p5s7{
    grid-column:5/span 7;
}

.p5s8{
    grid-column:5/span 8;
}






.p6s2{
    grid-column:6/span 2;
}

.p6s3{
    grid-column:6/span 3;
}

.p6s4{
    grid-column:6/span 4;
}

.p6s5{
    grid-column:6/span 5;
}

.p6s6{
    grid-column:6/span 6;
}

.p6s7{
    grid-column:6/span 7;
}





.p7s2{
    grid-column:7/span 2;
}

.p7s3{
    grid-column:7/span 3;
}

.p7s4{
    grid-column:7/span 4;
}

.p7s5{
    grid-column:7/span 5;
}

.p7s6{
    grid-column:7/span 6;
}




.p8s2{
    grid-column:8/span 2;
}

.p8s3{
    grid-column:8/span 3;
}

.p8s4{
    grid-column:8/span 4;
}

.p8s5{
    grid-column:8/span 5;
}




.p9s2{
    grid-column:9/span 2;
}

.p9s3{
    grid-column:9/span 3;
}

.p9s4{
    grid-column:9/span 4;
}




.p10s2{
    grid-column:10/span 2;
}

.p10s3{
    grid-column:10/span 3;
}





.p11s2{
    grid-column:11/span 2;
}






.testtexte{
    grid-column:7/span 6;
    text-justify: distribute-all-lines;
}


/* Pour les éléments flex*/
/* Dimensions callé sur la dimmension d'une grille 12 colonnes*/
.col1{
    width: calc(((21cm - 3.5cm)/12)*1);
}

.col2{
    width: calc(((21cm - 3.5cm)/12)*2);
}

.col3{
    width: calc(((21cm - 3.5cm)/12)*3);
}

.col4{
    width: 213px;
}

.col5{
    width: calc(((21cm - 3.5cm)/12)*5);
}

.col6{
    width: calc(((21cm - 3.5cm)/12)*6);
}

.col7{
    width: calc(((21cm - 3.5cm)/12)*7);
}

.col8{
    width: calc(((21cm - 3.5cm)/12)*8);
}

.col9{
    width: calc(((21cm - 3.5cm)/12)*9);
}

.col10{
    width: calc(((21cm - 3.5cm)/12)*10);
}

.col11{
    width: calc(((21cm - 3.5cm)/12)*11);
}

.col12{
    width: 100%;
}


/* ---------- Positions  ----------------------------------------------*/
/* Pour les éléments flottants,(figures incluse dans un texte) */
.fdroite{
    float:right;
    margin-left: 10px;
}

.fgauche{
    float:left;
    margin-right: 10px;
}

/* Pour les éléments dans un display flex */









/* ------------------------------------------------------------------------*/
/* ------------ Spécial cour ----------------------------------------------*/
/* ------------------------------------------------------------------------*/


/* Commun au doc de cours ------------------------*/
.print_pied{
    font-family: 'Open sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding-inline-end: 1.75cm;
    text-align: end;
}





/* Document exam ------------------------*/
/*Présentation texte remarque exam*/
.rexam{
    font-style: italic;
}

/*Présentation entete exam*/
.enteteExam{
    #background-color: red;
    margin-top:25px;
    margin-bottom:40px;
}

.enteteExam>h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom:5px;
}

.enteteExamInfo{
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    padding-bottom:10px;
}

.enteteExam>p{
    margin:0px;
    padding:0px;
}


/*Présentation titre partie, sous partie */
.exam>.page>.zonetexte>h2{
    font-size: 14pt;
    text-align: center;
    margin-bottom: 15px;
}

.exam>.page>.zonetexte>h3{
    font-size: 11pt;
    margin-bottom: 15px;
}


/*Présentation texte intro*/
.intro{
    #background-color:grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


/*Présentation des documents*/
.document{
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.documentTitre{
    font-family: 'Open sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    padding-bottom: 3px;
}

.documentTitreDocument{
    font-weight : bold ;
}


/*Présentation des questions*/
.question{
    padding-bottom: 5px;
}
.questionTitre{
    font-family: 'Open sans Extrabold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

/*Présentation des données*/
.données{
    padding-bottom: 5px;
    margin-bottom: 20px;  
}

.donnéestitre{
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 3px;
}







/* Document Cours ------------------------*/
/*Présentation des relations*/
.encadre-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
}

.bloc-form{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding:0em;
    padding-left: 5px;
    padding-right: 5px; 
}

.form{
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    border: solid red 1.5px;
    box-shadow:1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.bloc-lgd{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.bloc-detail{
    max-width: 450px;
}

.bloc-detail ul{
    margin-left: 24px;
    margin-top: 0;
}

.bloc-avec{
    padding-left: 12px;
}

/*Encadrée*/
.encadre{
    width: calc(100%-3px);
    border-left: 3px solid rgb(27, 2, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
}

.encadre_titre{
    font-family: 'Open sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: rgb(27, 2, 255);
    background-color:rgb(240, 239, 255);
    padding:5px;
    padding-left: 10px;
}

.encadre p{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* Document Activité ------------------------*/



/* Document Évaluation ------------------------*/










/* --------------------------------------------------------------*/
/* ---------- impression ----------------------------------------*/
/* --------------------------------------------------------------*/
@media print {
    @page {
        margin: 0cm;
    }

    body {
        width: auto!important;
        margin: auto!important;
        color: #000!important;
        font-size: 10pt;
    }

    .print_pied{
        font-family: 'Open sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10pt;
        color: rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        padding-inline-end: 1.75cm;
        text-align: end;
    }

    /* ---------- lignes de saisie -------------------------------------------*/
    .lsaisi {
        background-image: url('/media/ligne_saisie.svg');
        background-repeat: repeat-x;
        background-position: left bottom;
        margin: 0;
        padding:20px 10px 0 10px;
    }

    #ul_choix_nombre>li{
        list-style: none;
        background-image: url('/media/cercle_numbre.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 25px;
        margin: 0;
        padding: 10px 0 10px 32px;
    }
    
} 




