.sinder1{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
}

.sinder2{
    display: flex;
    flex-flow: row-reverse  wrap;
    justify-content: left;
}

.demi_page_droite{
    flex-grow:1 ;
    max-width: 850px;
}

.demi_page_gauche{
    flex-grow:1 ;
    max-width: 850px;
   
}

.md-typeset figure {
    display: flow-root;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.md-typeset figure img {
    display: block;
    margin:auto auto;
}


/* légende des figures */

.md-typeset figcaption {
    color: rgba(0, 0, 0, 0.513);
    font-style: normal;
    font-size: x-small;
    font-weight: lighter;
    margin: 1em auto 1em;
    max-width: 24rem;
}




/* l'écart entre les lignes des listes est plus faibles que pour des lignes normales et agrandisement de la marge à gauche */
.md-typeset ol li, .md-typeset ul li{
    margin-left: 2.00em;
    line-height: 1.1;
}


/*fait en sorte que le texte dans les admonitons soit de la même taille que dans le reste du doc*/
.md-typeset .admonition, .md-typeset details {
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
}

/*légende de la même couleur même si c'est un lien*/
.md-typeset figcaption a {
    color:  rgba(0, 0, 0, 0.513);
    word-break: break-word;
}

/*couleur de fond bouton page personnalisation*/
.md-typeset .mdx-switch button > code {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block;
}


.img_900{
    width:900px;
}
.img_800{
    width:800px;
}
.img_700{
    width:700px;
}
.img_600{
    width:600px;
}
.img_500{
    width:500px;
}
.img_400{
    width:400px;
}
.img_300{
    width:300px;
}
.img_200{
    width:200px;
}


@media print {
    /* les styles d'impression commencent ici */
    @page {
        margin: 1.5cm;
    }

    body {
        width: auto!important;
        margin: auto!important;
        font-size: 12pt;
        background-color: #fff!important;
        color: #000!important;
      }

    print {
        display: block; /* affichage des éléments de classe print */
      }

    .noprint {
        display: none; /* masque les éléments de la classe noprint */
    }

    .md-typeset  .note {
        display: none;/* masque les admonitons note */
    }

    blockquote, ul, ol, p, img, figure {
        page-break-inside: avoid; /* pas de coupure dans ces élements */
      }

    h1 {
        page-break-before: always; /* chaque titre commence sur une nouvelle page */
      }


    a {
        color:  rgba(0, 0, 0, 0.513);
      }

    a[href]:after {
        content:  " (" attr(href) ")"; /* affichage des URL des liens */
      }
      


    .img_900{
        width:700px;
    }
    .img_800{
        width:600px;
    }
    .img_700{
        width:500px;
    }
    .img_600{
        width:400px;
    }
    .img_500{
        width:300px;
    }
    .img_400{
        width:200px;
    }
    .img_300{
        width:100px;
    }
    .img_200{
        width:100px;
    }

}