/* ---------- Resset ----------------------------------------------*/




/* ---------- Découpe de l'espace document ------------------------*/
.divisionflex{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content:space-around;
}


.division{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    column-gap:1rem;
}

.division-demigauche{
    grid-column:1/span 6;
    text-justify: distribute-all-lines;
}

.division-demidroite{
    grid-column:7/span 6;
    text-justify: distribute-all-lines;
}

.division-deuxtiergauche{
    grid-column:1/span 9;
    text-justify: distribute-all-lines;
    margin:0;
}

.division-tierdroit{
    grid-column:10/span 3;
    text-justify: distribute-all-lines;
}

.division-deuxtierdroite{
    grid-column:4/span 9;
    text-justify: distribute-all-lines;
    margin:0;
}

.division-tiergauche{
    grid-column:1/span 3;
    text-justify: distribute-all-lines;
}








/* ---------- Figures -------------------------------------------*/
.md-typeset figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.3em;
}

.md-typeset figure img {
    display: block;
    margin:auto auto;
}


.md-typeset figcaption {
    color: rgba(0, 0, 0, 0.513);
    font-style: normal;
    font-size: x-small;
    font-weight: lighter;
    max-width: 100%;
    margin-bottom: 0;
}

.md-typeset figcaption a {
    color:  rgba(0, 0, 0, 0.513);
}


/* ---------- Dimensions ----------------------------------------------*/
/* les dimensions sont callé sur la dimmension d'une grille 12 colonnes*/

/*pages-marges, soit 10col*/
.md-typeset .tresgrand{
    max-width: 82.8%;
}

/*demi pages, soit 6col*/
.md-typeset .grand {
    max-width: 49%;
}

/*tier de pages, soit 4col*/
.md-typeset .moyen{
    max-width: 32%;
}

/*tier de pages, soit 3col*/
.md-typeset .petit{
    max-width: 25%;
}

/*tier de pages, soit 2col*/
.md-typeset .mini{
    max-width: 15%;
}

/*tier de pages, soit 1col*/
.md-typeset .micro{
    max-width: 6.5%;
}

/* ---------- Positions  ----------------------------------------------*/
.md-typeset .droite{
    float:right;
    margin-left: 1em;
}

.md-typeset .center{
    margin-right: auto;
    margin-left: auto;
}

.md-typeset .gauche{
    float:left;
    margin-right: 1em;
}


/* ---------- Textes ----------------------------------------------*/
/* Listes */
.md-typeset ol li, .md-typeset ul li{
    margin-left: 2.00em;
    line-height: 1.1;
}


.math{
    font-family: Times, serif;
    font-style: italic;
    font-weight: 600;
}



/* ---------- Admonition -------------------------------------------*/
/*Texte*/
.md-typeset .admonition, .md-typeset details {
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
}

/* admonition personnalisé */
/* admonition def */
@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(0.65);
    }
    20%, 60% {
      transform: scale(0.7);
    }
  }
  .heart {
    animation: heart 2000ms infinite;
    color:firebrick
  }
  
  :root {
    --md-admonition-icon--def: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
  }
  .md-typeset .admonition.def,
  .md-typeset details.def {
    border-color: rgb(219, 16, 16);
  }
  .md-typeset .def > .admonition-title,
  .md-typeset .def > summary {
    background-color: rgba(185, 27, 101, 0.1);
    border-color: rgb(219, 16, 16);
  }
  .md-typeset .def > .admonition-title::before,
  .md-typeset .def > summary::before {
    background-color: rgb(219, 16, 16);
    animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--def);
            mask-image: var(--md-admonition-icon--def);
  }






/* ---------- Entete impression----------------------------------*/
#masque{
    display:none;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
}




/* ---------- Spécial cours -------------------------------------------*/
/*Présentation des relations*/
.md-typeset .encadre-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
}

.md-typeset .bloc-form{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding:0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}

.md-typeset .form{
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: solid red 2px;
    box-shadow:1px 1px 4px 0px rgba(255, 0, 0, 0.2);
}

.md-typeset .bloc-lgd{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
}


.md-typeset .bloc-detail{
    max-width: 600px;
}

.md-typeset .bloc-detail ul{
    list-style: circle outside;
    margin-left: 2em;
    margin-top: 0;
    line-height: 1.0;
}
.md-typeset .bloc-detail li{
    margin: 0;
    padding: 0;
}

.md-typeset .bloc-avec{
    padding-left: 0.5em;
}



/* ---------- Pages spéciales -------------------------------------------*/
/*couleur de fond bouton page personnalisation*/
.md-typeset .mdx-switch button > code {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block;
}




/* --------------------------------------------------------------*/
/* ---------- Tablette ------------------------------------------*/
/* --------------------------------------------------------------*/
@media screen and (max-width: 1100px) {
    .division{
        grid-template-columns:repeat(6,1fr);
    }

    .division-demigauche{
        grid-column:1/span 3;
        text-justify: distribute-all-lines;
    }
    
    .division-demidroite{
        grid-column:4/span 3;
        text-justify: distribute-all-lines;
    }
/* ---------- Dimensions ----------------------------------------------*/
/* les dimensions sont callé sur la dimmension d'une grille 12 colonnes*/

/*pages-marges, soit 6col*/
.md-typeset .tresgrand {
    max-width: 100%;
}

/*demi pages, soit 4col*/
.md-typeset .grand {
    max-width: 66%;
}

/*tier de pages, soit 2col*/
.md-typeset .moyen{
    max-width: 31.75%;
}

/*tier de pages, soit 1col*/
.md-typeset .petit{
    max-width: 14.72%;
}

/*tier de pages, soit 1col*/
.md-typeset .mini{
    max-width: 14.72%;
}

/*tier de pages, soit 1col*/
.md-typeset .micro{
    max-width: 14.72%;
}



}

/* --------------------------------------------------------------*/
/* ---------- Mobiles -------------------------------------------*/
/* --------------------------------------------------------------*/
@media screen and (max-width: 800px) {
    .division{
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

/* ---------- Dimensions ----------------------------------------------*/
/* les dimensions sont callé sur la dimmension d'une grille 12 colonnes*/

/*pages-marges*/
.md-typeset .tresgrand {
    max-width: 100%;
}

/*demi pages*/
.md-typeset .grand {
    max-width: 100%;
}

/*tier de pages*/
.md-typeset .moyen{
    max-width: 50%;
}

/*tier de pages, soit 3col*/
.md-typeset .petit{
    max-width: 50%;
}

/*tier de pages, soit 2col*/
.md-typeset .mini{
    max-width: 30%;
}

/*tier de pages, soit 1col*/
.md-typeset .micro{
    max-width: 30%;
}





}



/* --------------------------------------------------------------*/
/* ---------- Impression ----------------------------------------*/
/* --------------------------------------------------------------*/

/*
@media print {
    @page {
        margin: 1.5cm;
    }

    body {
        width: auto!important;
        margin: auto!important;
        background-color: #fff!important;
        color: #000!important;
        font-size: 10pt;
    }

    print {
        display: block; 
    }

    .noprint {
        display: none; 
    }

    .md-typeset  .note {
        display: none;
    }

    blockquote, ul, ol, p, img, figure, figcaption {
        page-break-inside: avoid; 
    }


    h1, .hautdepage {
        page-break-before: always; 
    }


    a {
        color:  rgba(0, 0, 0, 0.513);
    }

    a[href]:after {
        content:  " (" attr(href) ")"; 
    }
    
}
*/ 